:root {
  --light: #f6f6f9;
  --dark: #000000;

  --primary: #F39101;
  --secondary:#000F28;
  /* other stuffs.... */
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --danger: #D32F2F;
--light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;

  /* card-diemensions */
  --card-height:524px;
  --card-width:360px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
body {
  background: var(--grey);
  overflow-x: hidden;
}

#main__backside {
  display: flex;
  justify-content: center;
  margin-top: 12%;
}
.backSite__wrapper {
  height: 322px;
  width: 204px;
  background-color: var(--light);
  position: relative;
  border-radius: 7px;
}
.backSite__wrapper__shape--1 {
  position: relative;
  width: 100%;
  height: 39%;
}
.backSite__wrapper__shape--1__logotitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3.054rem;
  z-index: 11;
}
.backSite__wrapper__shape--1__logotitle h1 {
  font-size: 0.875rem;
}

.backSite__wrapper__shape--1__logotitle p {
  font-size: 0.5rem;
  color: var(--primary);
  margin-left: 3px;
  margin-bottom: 5px;
}

.backSite__wrapper__discribction {
  width: 100%;
  height: 43%;
}

.backSite__wrapper__discribction li {
  font-size: 0.5rem;
  padding: 8px;
  margin-left: 6px;
  text-align: start;
}
.backSite__wrapper__discribction__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.backSite__wrapper__discribction__container .qr {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.backSite__wrapper__discribction__signature {
  display: flex;
  justify-content: space-around;
}

.backSite__wrapper__discribction__signature img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  object-position: center;
  margin-left: 12px;
}

.backSite__wrapper__discribction__signature p {
  font-weight: 500;
  font-size: 0.6rem;
  font-family: 'Poppins', sans-serif;
}

.bx{
  font-size: 1.7rem;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

html{
  overflow-x: hidden;
}

body.dark{
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb
}

body{
  background: var(--grey);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--light);
  border-radius: 0.5rem;
  margin: auto;
  overflow: hidden;
}

.card__background{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  z-index: 1;
}
.card__forground{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.card__image{
  border: 5px solid var(--secondary);
  margin-bottom: 0.5rem;
}

.card__content{
  margin: 1rem;
}
.image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.card__clip{
  width: 35%;
  height: 1.2rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: var(--light);
}



.card__box__top{
width: 100%;
height: auto;
}

.big-box{
  position: absolute;
  top:calc(-0.64*var(--card-width));
  left: calc(-0.5*var(--card-width));
  background-color: var(--primary);
  width: calc(1.5*var(--card-width));
  height: var(--card-width);
  transform: rotate(-30deg);
}

.box-1{
  position: absolute;
  top: 2.8rem;
  right: -2rem;
  transform: rotate(-30deg);
  width: 60%;
  height: 1rem;
  background-color: var(--secondary);
}
.box-2{
  position: absolute;
  top: 1.6rem;
  right: -6rem;
  transform: rotate(-30deg);
  width: 60%;
  height: 1rem;
  background-color: var(--primary);
}

.box-3{
  position: absolute;
  top: 1.5rem;
  right: -8rem;
  transform: rotate(-30deg);
  width: 60%;
  height: 1rem;
  background-color: var(--secondary);
}

.card__box__bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.box-a{
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
  background-color: var(--secondary);
  top: -2.5rem;
  right: -5rem;
}

.box-b{
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
  background-color: var(--primary);
  top: -1.5rem;
  right: 2.5rem;
}


.box-c{
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
  background-color: var(--secondary);
  top: -2.0rem;
  right: 7.5rem;
}

.box-d{
  position: absolute;
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
  background-color: var(--primary);
  top: -2.0rem;
  right: 12.5rem;
}